{% extends "layout.html" %}

{% block content %}
<img src="{{ car.image }}" alt="" class="auto-image auto-image-center">
<div class="center-info">
    <p>{{ car.name }}</p>
    <p>Nobraukums: {{ car.mileage }} km</p>
    <p>Sēdvietas: {{ car.seats }}</p>
    <p>Cena: {{ car.price }}€ / diena</p>
    <a href="/admin/rent_points/{{ car.rent_point._id }}" class="car-link">
        Rent Point: {{ car.rent_point.name }} - {{ car.rent_point.location }}
    </a>
</div>
<a href="/admin/car/{{ car._id }}/edit" class="btn btn-blue btn-center btn-m">Rediģēt</a>
<button onclick='removeCar("{{ car._id }}")' class="btn btn-red btn-center btn-m">Noņemt</button>
<a href="/admin/car/{{ car._id }}/reservations" class="btn btn-green btn-center btn-m">Skatīties Rezervētāju</a>
<a href="/admin/cars" class="btn btn-red btn-center btn-m">Atpakaļ</a>
{% endblock %}