{% extends "layout.html" %}

{% block content %}
<ul class="auto-list">
    {% for car in cars %}
    <li>
        <div class="left">
            <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="" class="auto-image">
        </div>
        <div class="center">
            <p>{{ car.name }}</p>
            <p>Nobraukums: {{ car.mileage }} km</p>
            <p>Sēdvietas: {{ car.seats }}</p>
            <p>Cena: {{ car.price }}€ / diena</p>
        </div>
        <div class="right">
            <button class="btn btn-center btn-m btn-red">Noņemt</button>
            <button class="btn btn-center btn-m btn-blue">Rediģēt</button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}