{% extends "layout.html" %}

{% block title %}Noma punktu informācija{% endblock %}

{% block content %}

<div class="center-info">
    <h2>{{ rent_point.name }}</h2>
    <h2>{{ rent_point.location }}</h2>

    <img src="{{ rent_point.image }}" class="auto-image auto-image-center" alt="">

    {% if cars | length > 0 %}
    <p>Auto šajā nomas punktā</p>
    <ul>
        {% for car in cars %}
        <li>
            <a href="/admin/car/{{ car._id }}" class="car-link">{{ car.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Šajā nomas punktā nav nevienu auto :(</p>
    {% endif %}
</div>

<a href="/admin/rent_points/{{ rent_point._id }}/edit" class="btn btn-blue btn-center btn-m">Rediģet</a>
<button onclick='deleteRentPoint("{{ rent_point._id }}")' class="btn btn-center btn-m btn-red">Noņemt</button>
<a href="/admin/rent_points" class="btn btn-red btn-center btn-m">Atpakaļ uz noma punktu sarakstu</a>

{% endblock %}