{% extends "layout.html" %}

{% block title %}Noma punktu saraksts{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin_rent_point.js') }}"></script>
{% endblock %}

{% block content %}

<a href="/admin/create_rent_point" class="btn btn-center btn-m btn-blue">Pievinot jaunu noma punktu</a>

{% if rent_points | length > 0 %}
<ul>
    {% for rent_point in rent_points %}
    <li>
        <a href="/admin/rent_points/{{ rent_point._id }}" class="car-link">{{ rent_point.name }} - {{ rent_point.location }}</a>
        <a href="/admin/rent_points/{{ rent_point._id }}/edit" class="car-link">Rediģet</a>
        <button onclick='deleteRentPoint("{{ rent_point._id }}")' class="car-link">Noņemt</button>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No Rent Points :(</p>
{% endif %}

{% endblock %}