{% extends "layout.html" %}

{% block title %}Pievienot noma punktu{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin_rent_point.js') }}"></script>
{% endblock %}

{% block content %}

<label for="rentPointName">Noma punkta nosaukums</label>
<input type="text" name="rentPointName" id="rentPointName">
<br>

<label for="rentPointLocation">Noma punkta atrašanās vieta</label>
<input type="text" name="rentPointLocation" id="rentPointLocation">
<br>

<label for="rentPointImage">Noma punkta bilde (URL)</label>
<input type="url" name="rentPointImage" id="rentPointImage">

<button class="btn btn-blue btn-center btn-m" onclick="createRentPoint()">Pievienot</button>
<a href="/admin/rent_points" class="btn btn-red btn-center btn-m">Atpakaļ uz noma punktu sarakstu</a>

{% endblock %}