body {
    margin: 0;
    padding: 0;
    font-family: Arial;

    background-color: #3E3A2C;
}

.navbar {
    width: 100%;
    height: 100px;

    background-color: #22201A;
}

.input-box {
    width: 100%;
    display: block;

    height: 20px;
}

.input-box input {
    width: 80%;
    height: 20px;
    display: inline-block;
}

.input-box button {
    width: 18%;
    height: 20px;
    margin: 0;
    padding: 0;

    display: inline-block;

    border: none;
    cursor: pointer;

    outline: 0;

    background-color: #00FF00;
}

.container {
    max-width: 960px;
    min-height: 100px;

    padding: 10px;
    margin: auto;

    background-color: #302C21;
}

.container-navbar {
    max-width: 960px;
    min-height: 100px;

    padding: 10px;
    margin: auto;
}

.logo-image {
    width: 100px;
    height: 40px;
    display: block;

    margin: auto;
    margin-bottom: 10px;
}

.auto-image {
    width: 200px;
    height: 160px;
}

.auto-image-center {
    display: block;
    margin: auto;
    width: auto;
}

.center-info {
    color: white;
    max-width: 400px;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 5px;

    border: 1px solid white;
}

.auto-list li .auto-image {
    margin-top: 10px;
    margin-left: 10px;
}

.auto-list li div {
    display: inline-block;
    height: 160px;
    padding: 20px;
}

.auto-list li .pages {
    height: auto;
    margin: auto;
    background-color: #22201A;
}

.pages a {
    color: black;
    text-decoration: none;
    padding: 3px;
    background-color: #FFFFFF;
}

.pages a.space {
    margin-left: 20px;
}

.auto-list li .left {
    width: 220px;
    padding: 0;
}

.auto-list li .center {
    width: calc(100% - 320px);
}

.auto-list li .right {
    width: 100px;
    height: 50px;
    margin-top: 80px;
}

.auto-list li .center p {
    color: #BBBBBB;
}

.btn {
    background-color: #FF0000;
    border: none;
    cursor: pointer;
    padding: 10px;

    outline: 0;
}

.btn-center {
    display: block;
    margin: auto;
}

.btn-m {
    margin-top: 5px;
}

/*
    Usage:
    <ul class="auto-list">
        <li> ... </li>
        <li> ... </li>
    </ul>
*/

.auto-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    position: relative;
}

.auto-list li {
    width: 100%;
    display: flex;
}