{% extends "layout.html" %}

{% block title %}Auto informācija{% endblock %}

{% block content %}
<img src="{{ car.image }}" alt="" class="auto-image auto-image-center">
<div class="center-info">
    <p>{{ car.name }}</p>
    <p>Nobraukums: {{ car.mileage }} km</p>
    <p>Sēdvietas: {{ car.seats }}</p>
    <p>Cena: {{ car.price }}€ / diena</p>
    <a href="/admin/rent_points/{{ car.rent_point._id }}" class="car-link">
        Noma punkts: {{ car.rent_point.name }} - {{ car.rent_point.location }}
    </a>
</div>
<a href="/car/{{ car._id }}/reserve" class="btn btn-blue btn-center btn-m">Rezervēt</button>
<a href="/cars" class="btn btn-red btn-center btn-m">Atpakaļ uz auto sarakstu</a>
{% endblock %}