{% extends "layout_new.html" %}

{% block content %}
<div class="container">
    <img src="../../../images/audi.jpg" alt="" class="auto-image auto-image-center">
    <div class="center-info">
        <p>Audi 80</p>
        <p>Nobraukums: 455'000km</p>
        <p>Sēdvietas: 4</p>
        <p>Cena: 6€ / diena</p>
    </div>
    <button class="btn btn-green btn-center">Rezervēt</button>
    <button class="btn btn-blue btn-center">Rediģēt</button>
    <button class="btn btn-red btn-center">Atcelt</button>
</div>
{% endblock %}