{% extends "layout.html" %}

{% block head %}

{{ super() }}

<!--<script src="{{ url_for('static', filename='js/load_cars.js') }}"></script>-->

{% endblock %}

{% block content %}
<ul class="auto-list" id="auto-list">
    {% for car in cars%}
    <li>
        <div class="left">
            <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="" class="auto-image">
        </div>
        <div class="center">
            <a class="car-link" href="/car/{{ car.id }}">{{ car.name }}</a>
            <p>Nobraukums: {{ car.mileage }} km</p>
            <p>Sēdvietas: {{ car.seats }}</p>
            <p>Cena: {{ car.price }}€ / diena</p>
        </div>
        <div class="right">
            <a href="/car/{{ car.id }}/reserve" class="btn btn-blue">Rezervēt</a>
        </div>
    </li>
    {% endfor %}
    <li>
        <div class="pages">
            {% for page in pages %}
            {% set index = pages.index(page) %}
            <a href="/cars/{{ index }}" class="btn {% if index == page_id %}btn-blue{% endif %}">{{ index + 1 }}</a>
            {% endfor %}
        </div>
    </li>
</ul>
{% endblock %}