{% extends "layout_new.html" %}

{% block content %}
<ul class="auto-list">
    <li>
        <div class="left">
            <img src="../../../images/audi.jpg" alt="" class="auto-image">
        </div>
        <div class="center">
            <p>Audi 80</p>
            <p>Nobraukums: 455'000km</p>
            <p>Sēdvietas: 4</p>
            <p>Cena: 6€ / diena</p>
        </div>
        <div class="right">
            <button class="btn btn-blue">Rezervēt</button>
        </div>
    </li>
    <li>
        <div class="left">
            <img src="../../../images/citroen.jpg" alt="" class="auto-image">
        </div>
        <div class="center">
            <p>Citroen Xsara</p>
            <p>Nobraukums: 290'000km</p>
            <p>Sēdvietas: 4</p>
            <p>Cena: 7€ / diena</p>
        </div>
        <div class="right">
            <button class="btn btn-blue">Rezervēt</button>
        </div>
    </li>
    <li>
        <div class="left">
            <img src="../../../images/golf.jpg" alt="" class="auto-image">
        </div>
        <div class="center">
            <p>VolksWagen Golf 3</p>
            <p>Nobraukums: 300'000</p>
            <p>Sedvietas: 4</p>
            <p>Cena: 4€ / diena</p>
        </div>
        <div class="right">
            <button class="btn btn-blue">Rezervēt</button>
        </div>
    </li>
    <li>
        <div class="pages">
            <a href="#" class="btn">1</a>
            <a href="#" class="btn">2</a>
            <a href="#" class="btn">3</a>
            <a href="#" class="space btn">42</a>
        </div>
    </li>
</ul>
{% endblock %}