
<!DOCTYPE html>
<html lang="lv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bebug Page</title>

        <style>
            html {
                background-color: black;
                color: gray;

                font-family: Arial;
            }

            a {
                color: #1010AA;
            }

            span {
                color: #AA1010;
            }
        </style>
    </head>
    <body>
        
    <ul>
        <li>
            <a href="/">Home</a>
            <span>Nik, fix it</span>
        </li>
        <li>
            <a href="/car/0">Car 0 info</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/cars">Cars List</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/car/0/reserve">Car 0 Reserve</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/car/1/reserve">Car 1 Reserve</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/car/2/reserve">Car 2 Reserve</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/reserved">Reserved Cars List</a>
            <span>Completed</span>
        </li>
    </ul>

    <ul>
        <li>
            <a href="/admin/cars">Admin Cars List</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/admin/car/0">Admin Car 0 Info</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/admin/car/1">Admin Car 1 Info</a>
            <span>Completed</span>
        </li>
        <li>
            <a href="/admin/car/2">Admin Car 2 Info</a>
            <span>Completed</span>
        </li>
    </ul>
    </body>
</html>