<!DOCTYPE html>
<html lang="lv">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}AutoNoma{% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% block navbar %}
        <div class="navbar">
            <div class="container-navbar">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" class="logo-image">
                </a>
                <div class="input-box">
                    <input type="text">
                    <a class="btn btn-green" href="/search">Meklēt</a>
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>