{% extends "layout.html" %}

{% block content %}

<div class="center-info">
    <h2>{{ rent_point.name }}</h2>
    <h2>{{ rent_point.location }}</h2>

    <img src="{{ rent_point.image }}" class="auto-image auto-image-center" alt="">

    {% if cars | length > 0 %}
    <p>At this rent point is cars:</p>
    <ul>
        {% for car in cars %}
        <li>
            <a href="/admin/car/{{ car._id }}" class="car-link">{{ car.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No cars at this rent point :(</p>
    {% endif %}
</div>

<a href="/rent_points" class="btn btn-red btn-center btn-m">Atpakaļ</a>

{% endblock %}