{% extends "layout.html" %}

{% block title %}Rezervēto auto saraksts{% endblock %}

{% block head %}

{{ super() }}

<script src="{{ url_for('static', filename='js/reserve.js') }}"></script>

{% endblock %}

{% block content %}
<ul class="auto-list">
    {% for car in cars %}
    <li>
        <div class="left">
            <img src="{{ car.image }}" alt="" class="auto-image">
        </div>
        <div class="center">
            <a class="car-link" href="/reserved/{{ reservation_id }}">{{ car.name }} ir rezervēta {{ car.reservation.days }} dienas par {{ car.reservation.price }}€</a>
            <p>Nobraukums: {{ car.mileage }} km</p>
            <p>Sēdvietas: {{ car.seats }}</p>
            <p>Cena: {{ car.price }}€ / diena</p>
            <a href="/admin/rent_points/{{ car.rent_point._id }}" class="car-link">
                Noma punkts: {{ car.rent_point.name }} - {{ car.rent_point.location }}
            </a>
        </div>
        <div class="right">
            <button onclick='deleteReservation("{{ car.reservation._id }}")' class="btn btn-red btn-m">Noņemt</button>
            <a href="/reserved/{{ car.reservation._id | string }}/edit" class="btn btn-blue btn-m">Rediģēt</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}