{% extends "layout.html" %}

{% block head %}

{{ super() }}

<script src="{{ url_for('static', filename='js/reservation_list.js') }}"></script>

{% endblock %}

{% block content %}
<ul class="auto-list">
    {% for car, days, price, reservation_id in reserved_cars %}
    <li>
        <div class="left">
            <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="" class="auto-image">
        </div>
        <div class="center">
            <a class="car-link" href="/reserved/{{ reservation_id }}">{{ car.name }} ir rezervēta {{ days }} dienas par {{ price }}€</a>
            <p>Nobraukums: {{ car.mileage }} km</p>
            <p>Sēdvietas: {{ car.seats }}</p>
            <p>Cena: {{ car.price }}€ / diena</p>
        </div>
        <div class="right">
            <button onclick='removeCar("{{ car._id }}")' class="btn btn-red btn-m">Noņemt</button>
            <a href="/reserved/{{ reservation_id | string }}/edit" class="btn btn-blue btn-m">Rediģēt</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}