{% extends "layout.html" %}

{% block title %}Auto rezervācija{% endblock %}

{% block head %}

{{ super() }}

<script src="{{ url_for('static', filename='js/reserve.js') }}"></script>

{% endblock %}

{% block content %}
<img src="{{ car.image }}" alt="" class="auto-image auto-image-center">
<div class="center-info">
    <a class="car-link">{{ car.name }} ir rezervēta {{ reservation.days }} dienas par {{ reservation.price }}€</a>
    <p>{{ car.name }}</p>
    <p>Nobraukums: {{ car.mileage }} km</p>
    <p>Sēdvietas: {{ car.seats }}</p>
    <p>Modelis: {{ car.model }}</p>
    <p>Klase: {{ car.class }}</p>
    <p>Cena: {{ car.price }}€ / diena</p>
    <a href="/rent_points/{{ car.rent_point._id }}" class="car-link">
        Noma punkts: {{ car.rent_point.name }} - {{ car.rent_point.location }}
    </a>
</div>
<a href="/reserved/{{ reservation._id | string }}/edit" class="btn btn-blue btn-center btn-m">Rediģet</a>
<button onclick='deleteReservation("{{ reservation._id }}")' class="btn btn-red btn-center btn-m">Noņemt</button>
<a href="/reserved" class="btn btn-red btn-center btn-m">Atpakaļ uz rezervāciju saraksu</a>
{% endblock %}