body {
    margin: 0;
}

.main-container {
    width: 300px;
    height: 190px;

    background: #CDCDCD;
}

.main-menu {
    padding-top: 90px;
}

.main-menu a {
    padding: 10px;

    display: block;

    height: 30px;

    font-size: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
}